:root {
  --background: white;
  --primary: #222;
  --secondary: #e3e3e3;
  --highlight: #ce93d8;
  --border-radius: 4px;
  --size: 640px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  background-color: white;
}

header {
  max-width: var(--size);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--secondary);
} 

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: var(--primary);
  border-radius: var(--border-radius);
  border: 2px solid var(--primary);
  padding: 8px 16px;
  text-decoration: none;

  transition: all .2s;
}

nav a:hover {
  background-color: var(--highlight);
}

/* Styles for full-screen div */
.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
  font-size: 1.8em;
  font-weight: bold;
}

.loading-screen span {
  animation: heartbeat 1s infinite;
}

/* Styles for fading out effect */
.hidden {
  opacity: 0;
  pointer-events: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  transition: opacity 0.5s ease-in-out;
}

.loading button {
  cursor: pointer;
  position: absolute;
  background-color: black;
  border: none;
  color: white;
  font-size: 2em;
  padding: .25em .5em;
  text-transform: uppercase;
  font-weight: bold;

  transition: margin-top 0.1s ease-in-out;
}

.loading button:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.share {
  max-width: var(--size);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.share button {
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  color: var(--background);
  font-size: 2em;
  padding: .25em .5em;
  text-transform: uppercase;
  font-weight: bold;

  transition: margin-top 0.1s ease-in-out;
}

.share button:first-child {
  background-color: var(--highlight);
}

.share button:hover {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

.share button:active {
  transform: translateY(4px);
}

.timer__wrapper {
  text-align: center;
  max-width: var(--size);
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

dialog {
  max-width: 500px;
  width: 100%;
  min-height: 200px;
}

dialog form {
  display: flex;
  justify-content: end;
}

dialog button {
  background: transparent;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

dialog p {
  hyphens: auto;
}

#canvas-wrapper {
  position: relative;
  max-width: var(--size);
  width: 100%;
  height: 480px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}

.loading canvas {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

canvas {
  opacity: 1;
  border-radius: var(--border-radius);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .95 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .95 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .95 );
  }
  100%
  {
    transform: scale( .95 );
  }
}

@media only screen and (max-width: 640px) {
  header {
    flex-direction: column;
  }

  h1 {
    margin-bottom: .5rem;
    font-size: 1rem;
  }

  nav {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  dialog {
    width: 80vw;
  }
}  